<!DOCTYPE html>
<html lang="en">
    {%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>About Us</title>
</head>

<body>
    <div class="container-fluid px-0 mb-3" style="margin: 0 auto">
        <img src="https://source.unsplash.com/1200x400/?notes" class="d-block w-100 mx-0" alt="...">
    </div>

    <div class="container mb-3 py-4">
        <h1 class="text-center">About Us</h1>
        <p>At Stepzer we believe that there is better ways to paying our maintainence bills with just few clicks!
            Our Platform provides the Customer with variety of flexible ways to pay their maintainence bills with online
            transcations and offline accessiblites to pay their bills.
            Our Orgainzation is highly Passionate to help our customers with vide range of serivces to pay their bills
            on time and at the end which makes us a part of your Story!!

        </p>
    </div>

</body>

</html>