<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/features.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Features</title>
</head>

<body>
    <div class="container-fluid px-0 mb-3" style="margin: 0 auto">
        <img src="https://source.unsplash.com/1200x400/?laptops" class="d-block w-100 mx-0" alt="...">
    </div>

    <div class="container mb-3 py-4">
        <h1 class="text-center">Features</h1>
        <p>Stepzer provides the customer with wide range of features and options to pay and track the Maintaince Bills
            on Time.
            The Customer can easily create the account, pay the bills, track the bills and variety of other features!!

        </p>
    </div>

</body>

</html>