<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offline Billing Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"
        rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/offline form.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="title">
            Offline Billing Form
        </div>
    <form action="" method="post">
            {% csrf_token %}
                <div class="form">

                    <div class="inputfield">
                        <label>Block Number</label>
                        <div class="custom_select">
                            <select name="block">
                                <option value="1">Select</option>
                                <option value="L1">L-1</option>
                                <option value="L2">L-2</option>
                                <option value="L3">L-3</option>
                                <option value="L4">L-4</option>
                            </select>
                        </div>
                    </div>
                    <div class="inputfield">
                        <label>Flat Number</label>
                        <input type="text" name="flat" class="input">
                    </div>

                    <div class="inputfield">
                        <label>Type of Residence</label>
                        <select name="residence">
                            <option value="Tenant">Tenant</option>
                            <option value="Owner">Owner</option>
                            <option value="Empty">Empty</option>
                        </select>
                    </div>


                    <div class="inputfield">
                        <label>Date of Payment</label>
                        <div class="container">
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class='col-sm-6'>
                                    <form>
                                        <div class="form-group">
                                            <div class='input-group date' id='datepicker'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript"
                        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
                    <script>
                        $(function () {
                            $('#datepicker').datepicker({
                                format: "dd/mm/yyyy",
                                autoclose: true,
                                todayHighlight: true,
                                showOtherMonths: true,
                                selectOtherMonths: true,
                                autoclose: true,
                                changeMonth: true,
                                changeYear: true,
                                orientation: "button"
                            });
                        });
                    </script>
                        <input type="submit" value="PROCEED" class="btn">
                </div>
    </form>




    </div>
    </div>
</body>

</html>