
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Your Profile</title>
  <link rel="stylesheet" href="{% static 'css/profilepage.css' %}">

  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-logo'></i>
        <span class="logo_name">Stepzer
        </span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="{% url 'home:homepage' %}" class="active">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'home:profile' %}">
                <i class='bx bx-user'></i>
                <span class="links_name">Your Profile</span>
            </a>
        </li>
        <li>
            <a href="{% url 'home:bills' %}">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">Maintainence Bills</span>
            </a>
        </li>
        <li>
            <a href="{% url 'home:employe' %}">
                <i class='bx bx-face'></i>
                <span class="links_name">Employee</span>
            </a>
        </li>
        <li>
            <a href="{% url 'home:billing' %}">
                <i class='bx bx-card'></i>
                <span class="links_name">Billing</span>
            </a>
        </li>
        {% if personal.is_staff %}
        <li>
            <a href="{% url 'home:offline' %}">
                <i class='bx bx-library'></i>
                <span class="links_name">Offline Payments</span>
            </a>
        </li>
        {% else %}

        {% endif %}
        
        <li>
            <a href="{% url 'home:settings' %}">
                <i class='bx bx-cog'></i>
                <span class="links_name">Settings</span>
            </a>
        </li>
        <li class="log_out">
            <a href="{% url 'home:logout' %}">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>

  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Profile</span>
      </div>
      
      <div class="profile-details">
        <span class="admin_name">{{personal.first_name}}</span>
      </div>
    </nav>
    <section class="main_content">
      <div class="home-content">
        <div class="overview-boxes">
          <div class="box">

            <section class="info">
              <div class="settingstext">
                <h1>Your Personal Details</h1>
              </div>
              <br>
              <br>

              <div class="username">
                <p><b><label>Your Name (Owner)</b> </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{personal.first_name}}
                  
                </p>
              </div>
              <br>
              <div class="phone">
                <p><b><label>Your Phone Number </label></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{genral.phone}}

                </p>
              </div>
              <br>

              <div class="mail-id">
                <p><b><label>Your Mail-id</label></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{personal.email}}
                </p>
              </div>
              <br>

              <div class="Block and Flat Number">
                <p><b><label>Your Block and Flat Number</label></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{genral.block}}-{{genral.flat}}
                </p>
              </div>
              <br>

              <div class="Status of the Residence">
                <p><b><label>Your Status as Resident</label></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{genral.flat_type}}
                </p>
              </div>
              <br>

              <div class="Committee Member">
                <p><b><label>Your Role in the Committee</label></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   {{genral.designation}}
                </p>
              </div>
              <br>

              <div class="Admin Status">
                <p><b><label>Your Role as Admin</label></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
                  {% if personal.is_staff %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </p>
              </div>
              <br>

          </div>
          </form>
        </div>
      </div>
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else
          sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    </script>

</body>

</html>