<!DOCTYPE HTML>
{% load static %}

<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">

<head>
  <title>Sign Up for Free!</title>
</head>

<body>

  <div class="container">

    <div class="upperblock"></div>

    <div class="enterdetails">
      <div class="registerwith">Welcome To stepzer</div>
    </div>

    <div class="paying">Paying bills is now easy, with Stepzer</div>

    <div class="logo"><img src = "{% static 'images/logo.png' %}"></div>

    <div class="welcome"></div>
  </div>

</body>

</html>